<div class="row">
        {{ form_widget(form) }}
        <a class="btn" onclick="user_files_add(this);" href="javascript:void(0)">Add</a>
        <a class="btn" onclick="user_files_delete(this);" href="javascript:void(0)">Delete</a>
</div>


